# may contain OAuth secrets, do not commit
.sitecore/user.json

# package reference cache
.sitecore/package-cache

# Ephemeral index caches used by serialization, do not commit
.scindex

# Don't commit packages
*.itempackage
*.sicpackage

.vs/sandbox
node_modules/
bin/
obj/
/src/Foundation/Personalization/code/Properties/PublishProfiles/Publish to cm.rba.local.pubxml.user
/src/Project/Website/code/Properties/PublishProfiles/Publish to cm.rba.local.pubxml.user
*.json
*.user
*.pubxml
/sandbox.sln
/sandbox.sln.DotSettings.user
/src/Foundation/ImageMetadataGenerator/code/.vs/Foundation.ImageMetadataGenerator.csproj.dtbcache.json
/src/Foundation/ImageMetadataGenerator/code/Properties/PublishProfiles/Publish to cm.rba.local.pubxml.user
