<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<mvc.customizeRendering>
				<processor type="Sitecore.PersonalizationGoogleAnalyticsIntegration.Pipelines.Personalize, Sitecore.PersonalizationGoogleAnalyticsIntegration" patch:instead="*[@type='Sitecore.Personalization.Mvc.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Personalization.Mvc']" />
			</mvc.customizeRendering>
			<PageExtender.RenderPageExtenders>
				<processor type="Sitecore.PersonalizationGoogleAnalyticsIntegration.Pipelines.PageExtender.RenderPageExtenders.GoogleTagManagerDataLayerRenderPageExtender, Sitecore.PersonalizationGoogleAnalyticsIntegration">
					<filters hint="raw:AddFilter">
						<filter filterKey="name" filterValue="Demo" razorViewName="GoogleTagManagerDataLayerView"/>
					</filters>
				</processor>
			</PageExtender.RenderPageExtenders>
			<mvc.requestEnd>
				<processor type="Sitecore.PersonalizationGoogleAnalyticsIntegration.Pipelines.RequestEnd.PageExtender, Sitecore.PersonalizationGoogleAnalyticsIntegration" patch:before="processor[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Request.RequestEnd.AddPageExtenders, Sitecore.Mvc.ExperienceEditor']" />
			</mvc.requestEnd>
		</pipelines>
	</sitecore>
</configuration>