<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<mvc.customizeRendering>
				<processor type="Foundation.Personalization.Pipelines.Personalize, Foundation.Personalization" patch:instead="*[@type='Sitecore.Personalization.Mvc.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Personalization.Mvc']" />
			</mvc.customizeRendering>
			<mvc.getRenderer>
				<processor type="Foundation.Personalization.Pipelines.CustomizeRendering, Foundation.Personalization" patch:instead="*[@type='Sitecore.Personalization.Mvc.Pipelines.Response.GetRenderer.CustomizeRendering, Sitecore.Personalization.Mvc']" />
			</mvc.getRenderer>

			<!-- 
			<mvc.getRenderer patch:source="Sitecore.Mvc.config">
				<processor type="Sitecore.Personalization.Mvc.Pipelines.Response.GetRenderer.CustomizeRendering, Sitecore.Personalization.Mvc" patch:source="Sitecore.Personalization.Mvc.config"/>
				<processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc"/>
				<processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetItemRenderer, Sitecore.Mvc"/>
				<processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetXsltRenderer, Sitecore.Mvc"/>
				<processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetControllerRenderer, Sitecore.Mvc"/>
				<processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetMethodRenderer, Sitecore.Mvc"/>
				<processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetUrlRenderer, Sitecore.Mvc"/>
				<processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetDefaultRenderer, Sitecore.Mvc"/>
			</mvc.getRenderer>
			-->


		</pipelines>
	</sitecore>
</configuration>