<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<!--<mvc.customizeRendering>
				<processor type="Foundation.Personalization.Pipelines.Personalize, Foundation.Personalization" patch:instead="*[@type='Sitecore.Personalization.Mvc.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Personalization.Mvc']" />
			</mvc.customizeRendering>-->
		</pipelines>
	</sitecore>
</configuration>