<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="Foundation.ImageMetadataGenerator.Pipelines.Initialize, Foundation.ImageMetadataGenerator" />
			</initialize>
		</pipelines>
		<commands>
			<command name="media:generatemetadata" type="Foundation.ImageMetadataGenerator.Commands.GenerateMetadata, Foundation.ImageMetadataGenerator">
				<commandItems hint="list:AddCommandItem">
					<commandItem>DD5CFC5E-E801-4767-8D14-1BDEB0159C5E</commandItem>
				</commandItems>
			</command>
			<command name="media:generatemetadataforimages" type="Foundation.ImageMetadataGenerator.Commands.GenerateMetadataForImages, Foundation.ImageMetadataGenerator">
			</command>
		</commands>
		<services>
			<configurator type="Foundation.ImageMetadataGenerator.DependencyInjection.RegisterDependencies, Foundation.ImageMetadataGenerator" />
		</services>
		<settings>
			<setting name="Foundation.ImageMetadataGenerator.ImageTypeTemplateIDs" value="{F1828A2C-7E5D-4BBD-98CA-320474871548}|{DAF085E8-602E-43A6-8299-038FF171349F}" />
		</settings>
	</sitecore>
</configuration>