<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<!--<PageExtender.RenderPageExtenders>
				<processor type="Foundation.PageExtender.Pipelines.PageExtender.RenderPageExtenders.GoogleTagManagerDataLayerRenderPageExtender, Foundation.PageExtender">
					<filters hint="raw:AddFilter">
						<filter filterKey="name" filterValue="Demo" razorViewName="GoogleTagManagerDataLayerView"/>
					</filters>
				</processor>
			</PageExtender.RenderPageExtenders>
			<mvc.requestEnd>
				<processor type="Foundation.PageExtender.Pipelines.RequestEnd.PageExtender, Foundation.PageExtender" patch:before="processor[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Request.RequestEnd.AddPageExtenders, Sitecore.Mvc.ExperienceEditor']" />
			</mvc.requestEnd>-->
		</pipelines>
	</sitecore>
</configuration>